{% extends "layout.njk" %}

{% block head %}

      <title>FoodFy 2.0</title>
{% endblock %}


{% block content %}

<main>
    <!-- == BANNER =  -->
    <div class="conteiner">
        <section>
            <div class="banner row">
                <div class="detales">
                    <h1>
                        As melhores receitas
                    </h1>
                    <p>Aprenda a construir os melhores pratos
                        com receitas criadas por profissionais
                        do mundo inteiro.</p>
                </div>
                <img src="img/chef.png" alt="">
            </div>

        <!-- == CONTEUDO ==  -->
            <div class="content">
                <div class="title">
                    <h2> Mais acessadas</h2>
                </div>
                <div class="content-list">

                    {% for item in items %}
                    <div class="content_detale" id="{{item.id}}">
                        <img src="{{item.image}}" alt="{{item.id}}">
                         <h1 class="title_detales">{{item.title}}</h1> 
                        <p class="author">{{item.author}}</p> 
                    </div>
                    {% endfor %}
                    
                    
                </div>

            </div>


        </section>

      

        
    </div>
</main>

{% endblock %}